stages:
  - tests
  - build
  - dev
  - staging
  - production

complexity:
  stage: tests
  image: olympus.azurecr.io/python:3.7
  script:
    - xenon --max-average A --max-modules B --max-absolute B .

style:
  stage: tests
  image: olympus.azurecr.io/python:3.7
  script:
    - flake8

build-develop:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build --pull -t "$CI_REGISTRY/zagreus:latest" .
    - docker run --rm -v /var/run/docker.sock:/var/run/docker.sock "$CI_REGISTRY/aqua-scanner:5.0" scan --local "$CI_REGISTRY/zagreus:latest" --host https://aqua.uksouth.bink.sh:30001/ --user scanner --password $AQUA_PASSWORD --show-negligible --policies Bink --text
    - docker push "$CI_REGISTRY/zagreus:latest"
  only:
    - develop

tag-develop:
  stage: dev
  image: binkops.azurecr.io/tagbot:latest
  environment: dev
  script:
    - tagbot --username "$CI_REGISTRY_USER" --password "$CI_REGISTRY_PASSWORD" --source "$CI_REGISTRY/zagreus:latest" --tag "develop-$CI_COMMIT_SHORT_SHA"
  only:
    - develop

statics-dev:
  stage: dev
  image: binkops.azurecr.io/kubedeployer:latest
  environment: dev
  script:
    - bash collectstatic.sh
    - ENVIRONMENT=dev deploystatic
  only:
    - develop

build-master:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build --pull -t "$CI_REGISTRY/zagreus:$CI_COMMIT_TAG" .
    - docker run --rm -v /var/run/docker.sock:/var/run/docker.sock "$CI_REGISTRY/aqua-scanner:5.0" scan --local "$CI_REGISTRY/zagreus:$CI_COMMIT_TAG" --host https://aqua.uksouth.bink.sh:30001/ --user scanner --password $AQUA_PASSWORD --show-negligible --policies Bink --text
    - docker push "$CI_REGISTRY/zagreus:$CI_COMMIT_TAG"
  only:
    - tags

tag-staging:
  stage: staging
  image: binkops.azurecr.io/tagbot:latest
  environment: staging
  script:
    - tagbot --username "$CI_REGISTRY_USER" --password "$CI_REGISTRY_PASSWORD" --source "$CI_REGISTRY/zagreus:$CI_COMMIT_TAG" --tag "staging-$CI_COMMIT_TAG"
  only:
    - tags

statics-staging:
  stage: staging
  image: binkops.azurecr.io/kubedeployer:latest
  environment: staging
  script:
    - bash collectstatic.sh
    - ENVIRONMENT=staging deploystatic
  only:
    - tags

tag-prod:
  stage: production
  image: binkops.azurecr.io/tagbot:latest
  environment: prod
  script:
    - tagbot --username "$CI_REGISTRY_USER" --password "$CI_REGISTRY_PASSWORD" --source "$CI_REGISTRY/zagreus:$CI_COMMIT_TAG" --tag "prod-$CI_COMMIT_TAG"
  when: manual
  only:
    - tags

statics-prod:
  stage: production
  image: binkops.azurecr.io/kubedeployer:latest
  environment: prod
  script:
    - bash collectstatic.sh
    - ENVIRONMENT=prod deploystatic
  when: manual
  only:
    - tags
