[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.4b1"
flake8 = "*"
isort = "*"

[packages]
django = "<3.0"
psycopg2-binary = "*"
kombu = "*"
pygments = "*"
